*, *::before, *::after {
    box-sizing: border-box;
}

body * {
  margin:0;
}

/* ----- TYPOGRAPHY ----- */
h1{
  font-size: 2em;
  color:rgb(12, 0, 0)
}

h2{
  font-size: 1.5em;
}

p{
font-size: 1em;
}
span{
  font-size: 1em;
}

.date-hero, .title-hero,
.p-hero{

position: absolute;
justify-content: left;

bottom: 0.5em;

}

/* ----- LINKS ----- */

/* ----- LAYOUT ----- */
.container{
    display:block;
    margin: 0;
    
   
}
.section-two, .section-third{
  display: flex;
  
 
}
.container-one{
color:whitesmoke;
display: flex;


}
.container-two, .container-three
{
 margin-top: 1em;
 padding: 0.5em  0.5em;
 
}
.blog-image{
  display: flex;
  
}
.logo{
  display: flex;
  margin-left:1.5625em;
  margin-top: 1.5625em;
}
.learning-journal{
  display: flex;
  margin-left: 2.1875em;
   margin-top: 1.5625em
}

.blog-image-hero.png{
  width: 100%;
  background-attachment: cover;
  
}

.footer{
 
 align-content: center;
 background-color: black;
 width: 100%;
 border: 2px solid yellow;
 margin: auto;
}
.my-learning-journal, 
.copyright{
 display: block;
  text-align: center;
  color: white;
}
/* ----- NAVIGATION ----- */
nav, ul, li {
display: flex;
 list-style: none;
 align-content:space-between;
}
/* ----- MEDIA QUERIES ----- */








