* {
  box-sizing: border-box;
}

body * {
  
  margin:0;
}

/* ----- TYPOGRAPHY ----- */
h1{
  font-size: 2em;
  color:rgb(12, 0, 0)
}

h2{
  font-size: 1.5em;
}

p{
font-size: 1em;
}
span{
  font-size: 1em;
}




/* ----- LINKS ----- */

/* ----- LAYOUT ----- */

header, section footer{
  padding: 1.25em 0;
}
.container{
    width: 90%;
    max-width: 768px;
    margin: 0 auto;
}


.logo{
  display: flex;
  margin-left:1.5625em;
  margin-top: 1.5625em;
}
.learning-journal{
  display: flex;
  margin-left: 2.1875em;
   margin-top: 1.5625em
}

.blog-image-hero.png{
  width: 100%;
  background-attachment: cover;
  
}

.footer{
 
 align-content: center;
 background-color: black;
 width: 100%;
 border: 2px solid yellow;
 margin: auto;
}
.my-learning-journal, 
.copyright{
 display: block;
  text-align: center;
  color: white;
}
/* ----- NAVIGATION ----- */
nav, ul, li {
display: flex;
 list-style: none;
 align-content:space-between;
}
/* ----- MEDIA QUERIES ----- */

@media (min-width: 480px) {
    
}

@media (max-width: 767px) {
    

@media (min-width: 768px) {
   
   
}






