* {
  box-sizing: border-box;
}

body * {
  
  margin:0;
}

/* ----- TYPOGRAPHY ----- */
h1{
  font-size: 2em;
  color:rgb(12, 0, 0)
}

h2{
  font-size: 1.5em;
}

p{
font-size: 1em;
}
span{
  font-size: 1em;
}




/* ----- LINKS ----- */

/* ----- LAYOUT ----- */


header, 
section, 
footer{
    width: 90%;
    max-width: 768px;
    margin: 0 auto;
   
}


.ct{
  display:flex;
  margin: 1em auto;
  
  
}

.menu{
display:flex;
align-items:center;
  
}
.cover{
  display:block;
  color: white;
  line-height:1.5;
  position:absolute;
  margin-top: 620px;
  margin-right:960px;
  margin-left: 50px;
  padding:0 12px;
}

.container-one{
  background-image: url(images/blog-image-hero0.png)
}
.title-hero{
  color:white;
}
img{
  max-width:100%;
  height:auto;
}
footer{
 display:flex;
 justify-content:center;
 background-color: black;
 margin: 2em auto;
 
}

.my-learning-journal, 
.copyright{
  display:flex;
  justify-content:center;
  color: white;
  
}
.vm-button{
  display:flex;
  justify-content: center;
  padding-top:1.5em;
  color: black;
  font-weight: bold;
}

/* ----- NAVIGATION ----- */
ul, li {
 list-style: none;
  margin: 0 2em;
}
/* ----- MEDIA QUERIES ----- */

@media (min-width: 480px) {
    header, section, footer{
      display: flex;
    }
}

@media (max-width: 767px) {
    

@media (min-width: 768px) {
   
   
}






