html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;

}
/* ----- TYPOGRAPHY ----- */
h1{
  font-size: 2em;
  color:rgb(12, 0, 0)
}

h2{
  font-size: 1.5em;
}

p{
font-size: 1em;
}
span{
  font-size: 1em;
}




/* ----- LINKS ----- */

/* ----- LAYOUT ----- */


header, 
section, 
footer{
    max-width: 800px;
    margin: 0 auto;
   
}


.ct{
  display:flex;
  margin: 0.5em auto;
  
  
}

.menu{

align-items:center;
 
}



.cover-1 {
  color:white;
  margin-right: 405px;
  margin-left: 65px;
  position: absolute;
  margin-top: 20.46rem;
  line-height: 1.3rem;
  padding-right:3rem;
}

.title-hero{
  color: white;
}


img{
  max-width: 100%;
  height: auto;
}

.image-hero{
  width: 800px;
  height: 600px;
  margin-bottom:1rem;
  margin-top:-1rem;

 
}
.container-three,
.container-two{
  margin: 0 3em;
  align-items: center;
}
footer{
  
 justify-content:center;
 background-color: black;
 margin: 1.5rem auto;
}

.my-learning-journal, 
.copyright{
  display:flex;
  justify-content:center;
  color: white;
  
}
.vm-button{
  display:flex;
  justify-content: center;
  padding-top:1.5em;
  color: black;
  font-weight: bold;
}

/* ----- NAVIGATION ----- */
ul, li {
 list-style-type: none;
 display:flex;
 justify-content:flex-end;
 margin-left:4em;
 padding-right:3rem;
 
  
}
/* ----- MEDIA QUERIES ----- */

@media (min-width: 48rem) {
   header, section, footer
         {
      display: flex;
      font-size:1em;
      
     } 
  .ct{
    
    display:inline-flex;
    -max-width:100%;
    height:auto;
    align-items:center;
    
  }
   
  .cover{
    display:flex;
  }
}


/* ----- MEDIA QUERIES ----- */

@media (min-width: 48rem) {
   header, section, footer
         {
      display: flex;
      font-size:1em;
      
     } 
  .ct{
    
    display:inline-flex;
    max-width:100%;
    height:auto;
    align-items:center;
    
  }
   
  .cover{
    display:flex;
  }
}

@media (max-width: 29.25rem) {
   .header, section, footer{
     display:block;
     margin:1.5rem auto;
     font-size:0.5rem;
     height:auto;
     width:100%;
     
   }

  .ct{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    max-width:100%;
    height:auto;
    font-size:0.5rem;
    
  }
    h1{
      font-size:1.2rem;
    }  
   p, span{
     font-size:0.5rem;
   }
  
    .image-hero{
      height:50%;
      width:auto;
    }

    .cover-1{
      height:auto;
      width:100%;
      color:white;
      font-weight:bold;
      display:inline;
      position:absolute;
      margin-left:-40em;
      margin-right:1rem;
      margin-top:15rem;
      line-height:1rem;
    }
   
     
   .p-hero{
     margin-top: -0.5rem;
     
   }
   }


