* {
  box-sizing: border-box;
}

body * {
  
  margin:0;
}

/* ----- TYPOGRAPHY ----- */
h1{
  font-size: 2em;
  color:rgb(12, 0, 0)
}

h2{
  font-size: 1.5em;
}

p{
font-size: 1em;
}
span{
  font-size: 1em;
}




/* ----- LINKS ----- */

/* ----- LAYOUT ----- */


header, 
section, 
footer{
    width: 90%;
    max-width: 768px;
    margin: 0 auto;
   
}


.ct{
  display:flex;
  margin: 1em auto;
 
  
}
.menu{
display:flex;
align-items:center;
  
}
img{
  max-width:100%;
  height:auto;
}
.footer{
 
 align-content: center;
 background-color: black;
 width: 100%;
 border: 2px solid yellow;
 margin: auto;
}
.my-learning-journal, 
.copyright{
 display: block;
  text-align: center;
  color: white;
}
/* ----- NAVIGATION ----- */
nav, ul, li {
 list-style: none;
 align-content:space-between;
}
/* ----- MEDIA QUERIES ----- */

@media (min-width: 480px) {
    header, section, footer{
      display: flex;
    }
}

@media (max-width: 767px) {
    

@media (min-width: 768px) {
   
   
}






