body * {
  box-sizing: border-box;
}

/* ----- TYPOGRAPHY ----- */
h1{
  color:rgb(12, 0, 0)
}

/* ----- LINKS ----- */

/* ----- LAYOUT ----- */
.container-two{
  display: flex;
justify-content: center;
}

.container-three{
display: flex;
justify-content: center;
}


.logo{
  display: flex;
  margin-left:1.5625em;
  margin-top: 1.5625em;
}
.my-learning-journal{
  display: flex;
  margin-left: 2.1875em;
   margin-top: 1.5625em
}

.blog-image-hero.png{
  background-attachment: fixed;
  
}
.date-hero{
display: flex;

}
/* ----- NAVIGATION ----- */
nav, ul, li {
  display: flex;
 list-style: none;
align-content:space-between;
}
/* ----- MEDIA QUERIES ----- */








