body * {
  box-sizing: border-box;
}

/* ----- TYPOGRAPHY ----- */
h1{
  color:rgb(12, 0, 0)
}

/* ----- LINKS ----- */

/* ----- LAYOUT ----- */
.logo{
  display: flex;
  margin:0 25px;
  bottom: 125px;
}
/* ----- NAVIGATION ----- */
nav, ul, li {
 list-style: none;
}
/* ----- MEDIA QUERIES ----- */








