html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;

}
/* ----- TYPOGRAPHY ----- */
h1{
  font-size: 2em;
  color:rgb(12, 0, 0)
}

h2{
  font-size: 1.5em;
}

p{
font-size: 1em;
}
span{
  font-size: 1em;
}




/* ----- LINKS ----- */

/* ----- LAYOUT ----- */


header, 
section, 
footer{
    max-width: 800px;
    margin: 0 auto;
   
}


.ct{
  display:flex;
  margin: 0.5em auto;
  
  
}

.menu{

align-items:center;
 
}
.cover{
 
 position: relative;
 margin:1rem auto;
}


.cover-1 {
  color:white;
  margin-right: 100px;
  margin-left: 25px;
  position: absolute;
  margin-top: 20.46rem;
  line-height: 1rem;
}

.title-hero{
  color: white;
}


img{
  max-width: 100%;
  height: auto;
}

.image-hero{
  width: 800px;
  height: 600px;

 
}
.container-three,
.container-two{
  margin: 0 3em;
  align-items: center;
}
footer{
  
 justify-content:center;
 background-color: black;
 margin: 2em auto;
}

.my-learning-journal, 
.copyright{
  display:flex;
  justify-content:center;
  color: white;
  
}
.vm-button{
  display:flex;
  justify-content: center;
  padding-top:1.5em;
  color: black;
  font-weight: bold;
}

/* ----- NAVIGATION ----- */
ul, li {
 list-style-type: none;
 display:flex;
 justify-content:flex-end;
 margin-left:7em;
  
  
}
/* ----- MEDIA QUERIES ----- */

@media (min-width: 768px) {
   header, section, footer
         {
      display: flex;
      font-size:1em;
      
     } 
  .ct{
    
    display:inline-flex;
    align-items:center;
  }
  .cover{
    display:flex;
  }
}

@media (max-width: 468px) {
   .ct{
      display: inline-flex;
      font-size:0.3rem;
      margin:0 1em;
    }

   .cover-1{
    display: inline;
    top:0;
    margin-top: 32em;
   
    
   } 
   }
  









