.desktop-design,
.desktop-design * {
  box-sizing: border-box;
}
.desktop-design {
  height: 1921px;
  position: relative;
}
.about-page-desktop {
  background: #fafafa;
  width: 1085px;
  height: 1383px;
  position: absolute;
  left: 2292px;
  top: 0px;
  overflow: hidden;
}

.header3 {
  background: #ffffff;
  width: 1085px;
  height: 83px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}

.date-hero {
  color: #ffffff;
  text-align: left;
  font-family: "SourceSansPro-Regular", sans-serif;
  font-size: 15.999655723571777px;
  font-weight: 400;
  position: absolute;
  left: 53px;
  top: 370px;
  width: 614.84px;
}

.preview-hero {
  color: #ffffff;
  text-align: left;
  font-family: "SourceSansPro-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 53px;
  top: 451.73px;
  width: 614.84px;
}


.blog-title-hero {
  color: #ffffff;
  text-align: left;
  font-family: "SourceSansPro-Bold", sans-serif;
  font-size: 40px;
  line-height: 108.2%;
  letter-spacing: -0.03em;
  font-weight: 700;
  position: absolute;
  left: 53px;
  top: 399px;
  width: 657px;
}

.blog-image-hero {
  background: linear-gradient(
    to left,
    rgba(0, 0, 0, 0.31),
    rgba(0, 0, 0, 0.31)
  );
  width: 1085px;
  height: 488px;
  position: absolute;
  left: 1085px;
  top: 83px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  object-fit: cover;
}

.hero-post {
  position: absolute;
  inset: 0;
}

.blog-title-043 {
  color: #141414;
  text-align: left;
  font-family: "SourceSansPro-Bold", sans-serif;
  font-size: 24px;
  line-height: 108.2%;
  font-weight: 700;
  position: absolute;
  left: 723px;
  top: 902px;
  width: 309px;
}




