html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;

}
/* ----- TYPOGRAPHY ----- */
h1{
  font-size: 2em;
  color:rgb(12, 0, 0)
}

h2{
  font-size: 1.5em;
}

p{
font-size: 1em;
}
span{
  font-size: 1em;
}




/* ----- LINKS ----- */

/* ----- LAYOUT ----- */


header, 
section, 
footer{
    max-width: 768px;
    margin: 0 auto;
   
}


.ct{
  display:flex;
  margin: 1em auto;
  
  
}

.menu{
display:flex;
align-items:center;
  
}
.cover{
 display:flex;
 position: relative;
 padding-bottom: 0.5em;
}


.date-hero{
  
 color:white;
  margin-right: 100px;
  margin-left: 25px;
  position: absolute;
  margin-top: 825px;
  line-height: 2.5;
}


.title-hero{
  color:white;
  margin-right: 100px;
  margin-left: 25px;
  position: absolute;
  margin-top: 870px;
  line-height: 0.5;
}
.p-hero{
 color:white;
  margin-right: 100px;
  margin-left:25px;
  position: absolute;
  margin-top: 900px;
  line-height: 1.0;
}
img{
  max-width: 100%;
  height: auto;
}

.image-hero{
  background-image: cover;
}
.container-three,
.container-two{
  margin: 0 1em;
  align-items: center;
}
footer{
 display:flex;
 justify-content:center;
 background-color: black;
 margin: 2em auto;
 
}

.my-learning-journal, 
.copyright{
  display:flex;
  justify-content:center;
  color: white;
  
}
.vm-button{
  display:flex;
  justify-content: center;
  padding-top:1.5em;
  color: black;
  font-weight: bold;
}

/* ----- NAVIGATION ----- */
ul, li {
 list-style: none;
  margin: 0 2em;
}
/* ----- MEDIA QUERIES ----- */

@media (min-width: 468px) {
    header, section, footer{
      display: flex;
     
    }
}


@media (min-width: 768px) {
   
   .cover{
    position: fixed;
   }
}






